#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/agtorres/Data/Dropbox/utilityScripts/startWork.sh
Name=Work Eviorment
Comment=Start Work at a certain location.
Icon=/home/agtorres/Data/Dropbox/utilityScripts/IST_Logo.png
X-Desktop-File-Install-Version=0.22
